{% extends 'rango/base.html' %}

{% load staticfiles %}


{% block title_block %}
        About
{% endblock %}


{%block body_block %}
        <h1>About...</h1>
        
        <div>
            This tutorial has been put together by Yi-Chu Chen <br />
        </div>
        
        <div>
            
            <img src="{{ MEDIA_URL}}cat.jpg"
                 alt="Picture of Cat" />
            <img src="{% static "images/minions.jpg" %}"
                 alt="Picture of Rango" />  <!-- NEW line -->
        </div>
{%endblock %}
